<!-- -*- mode: XML -*- -->

<launch>

    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 5
                    update_rate: 20
        </rosparam>
    </node>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find robot)/config/dynamixel_joint_controllers.yaml" command="load"/>
    <!-- start specified joint controllers -->
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=pan_tilt_port
                --type=simple
                wheel1_controller wheel2_controller wheel3_controller traction_wheel_left_controller traction_wheel_right_controller"
          output="screen"/>
    <node name="robot_actuate" pkg="robot" type="robot_actuate.py" output="screen" />

</launch>
