<!-- -*- mode: XML -*- -->

<launch>
       <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
                <param name="port" value="/dev/ttyACM0"/>
                <param name="baud" value="57600"/>
        </node>
        <!-- <node name="remote_interface" pkg="central_control" type="remote_interface.py" output="screen"/> -->
</launch>
