<launch>
    <include file="$(find central_control)/launch/virtual_compass.launch" />

    <include file="$(find central_control)/launch/remote_interface.launch" />

    <!-- <group ns="robot1">
        <node name="approach_and_lift_two_robot" pkg="central_control" type="approach_and_lift_controller.py" output="screen"/>
    </group>  -->
    <group ns="robot2">
        <node name="approach_and_lift_two_robot" pkg="central_control" type="approach_and_lift_controller.py" output="screen"/>
    </group>


</launch>
